body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Courier New';
} 
#user-form {
    color: white;
    margin: auto;
    width: 400px;
    height: 600px;
    float: left;
}
#image {
    height: 600px;
    width: 300px;
    margin: auto;
    float: left;
}
img {
    border-radius: 20px;
}
#content {
    margin: auto;
    justify-content: center;
    width: 42%;
    margin-top: 80px;
}
input,button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    color: black;
    margin: 5px;
    height: 30px;
    transition: 500ms;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
}
input {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}
input:hover {
    background-color: rgb(36, 36, 36);
}
button:hover {
    background-color: rgb(190, 190, 190);
}
#content-user-form {
    margin-top: 90px;
    text-align: center;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
}